* {
    margin: 0;
    padding: 0;
    color:rgb(255, 187, 0);
    background-color: black;
    font-family: VCR OSD Mono
}

body{
    font-family: VCR OSD Mono, VT323;
}


.graphed-image {

}

.site img {
    size: 150px;
}

header {
    padding: 10px 10px 10px 10px;
}

header h1 {
    font-size: 100px;
    background-color: rgb(255, 187, 0);
    font-weight: bolder;
    color: black;
    margin: 0;
    
}

.section-name {
    margin-left: 10px ;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    padding: 10px 5px;
    font-size: 4vw;
    font-weight:lighter;
    justify-content: space-between;
    text-decoration: none;
    
}

.contact-info a {

}

.section-name {
    font-size: 35px;

}

/*CSS goal: adapt the page when size changes*/
@media only screen and (max-width: 980px){







}